* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto-light', sans-serif;
}

body {
    background-color: #f9f9f9;
}

/*--------------------------------loader------------------------------------*/

#loader {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-ring {
    color: #1c4c5b
}

.lds-ring,
.lds-ring div {
    box-sizing: border-box;
}

.lds-ring {
    display: flex;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid currentColor;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: currentColor transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

header {
    display: flex;
    justify-content: right;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-right: 20px;
}

#p1Header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 20px 0 0 10px;
}

#p2Header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
    font-family: "Anton", sans-serif;
    font-weight: 500;
    font-size: 60px;
    letter-spacing: 5px;
    align-self: flex-end;
    display: inline-block;
    padding: 0 5px 0 20px;
    margin: 0 10px 10px 10px;
    line-height: 45px;
    text-align: right;
}

#backButton {
    padding: 6px;
    border: 1px solid #ddd;
    color: white;
    background-color: rgb(255, 35, 35);
    border-radius: 4px;
    box-shadow: 2px 4px 8px #00000017;
    cursor: pointer;
    display: block;
    width: auto;
    margin-bottom: 10px;
}

.filter-container,
.filterBooks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    max-width: 80%;
    margin: 0 auto;
}

.filter-container > *,
.filterBooks-container > * {
    flex: 0 1 auto;
    min-width: 150px;
   
}

.filter-container input,
.filterBooks-container input,
.filter-container select,
.filterBooks-container select,
.filter-container button,
.filterBooks-container button {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 40px;
}

#filterCategoriesInput,
#filterBooksInput {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

.filter-container > *:not(#filterCategoriesInput),
.filterBooks-container > *:not(#filterBooksInput) {
    width: calc(50% - 10px);
    max-width: calc(50% - 10px);
}

.filterBooks-container button:hover,
.filter-container button:hover {
    color: #ddd;
    background-color: #2a2a2a;
}

label {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-right: 10px;
    justify-content: right;
}

.input-group {
    display: flex;
    align-items: center;
    width: 100%;
}

.input-group input[type="checkbox"] {
    width: auto;
    height: auto;
    margin-right: 5px;
}

#title {
    color: #4c4c4c;
    padding: 0 20px;
}

#divList {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4c4c4c;
    font-size: 80%;
    gap: 10px;
    padding: 10px;
}

article {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 1px 2px 6px #00000017;
    width: 90%;
    max-width: 300px;
}

article img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

article h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 8px;
}

article p {
    font-size: 1.2em;
    text-align: center;
    margin: 10px;
}

hr {
    border: 1px solid #ddd;
}

.listButton,
.botonAmazon {
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 1px 2px 8px #00000017;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
}

.botonAmazon {
    color: white;
    background-color: rgb(255, 171, 35);
}

#next,
#previous {
    margin: 20px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4c4c4c;
    color: white;
    cursor: pointer;
    display: block;
    width: 80%;
}

#next:hover,
#previous:hover {
    color: #ddd;
    background-color: #2a2a2a;
}

@media (max-width: 400px) {
    #p1Header {
        font-size: 20px;
    }

    #p2Header {
        font-size: 40px;
        letter-spacing: 3px;
        line-height: 35px;
    }
}

@media (max-width: 768px) {
    .filter-container > *:not(#filterCategoriesInput),
    .filterBooks-container > *:not(#filterBooksInput) {
        width: 100%;
        max-width: 100%;
    }

    .input-group {
        flex-direction: row;
        justify-content: flex-start;
    }
}

@media (min-width: 768px) {
    #p1Header {
        max-width: none;
        margin-bottom: 0;
    }

    #divList {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    article {
        width: calc(33.333% - 20px);
    }

    #next,
    #previous {
        width: auto;
    }
}